body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    height: 80px;
    background-color: rgb(97, 97, 189);
    display: flex;
}
h1{
    padding-left: 20px;
    display: flex;
    justify-content: center;
}
main{
    min-height: calc(100vh - 80px);
    background-color: rgb(104, 56, 149);
    
}
.img-divs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myBook{
    height: 200px;
    border-radius: 17px;
  

}
.books-shield{
    width: 450px;
    min-height: 645px;
    border-radius: 17px;
    border: solid;
    background-color: rgb(137, 124, 221);
    margin-left: 17px;
    margin-right: 17px;
    padding-left: 20px;
    padding-right: 20px;
}
.books-customize{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding-top: 22px;
}
.prices{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}
.all-comments{
    gap: 100px;
    overflow-y: auto;
    height: 140px;
}
.all-comments::-webkit-scrollbar {
    width: 20px; /* Breite des Scrollbalkens */
}
.all-comments::-webkit-scrollbar-thumb {
    background: rgb(48, 52, 92); /* Farbe des beweglichen Balkens */
    border-radius: 10px;
}

.all-comments::-webkit-scrollbar-track {
    background: rgb(104, 101, 171); /* Hintergrund des Tracks */
    border-radius: 10px;
}
.heart-img{
    width: 40px;
}
.btn{
    background-color: rgb(117, 80, 151);
    cursor: pointer;
    border-radius: 17px;
}
.btn-row{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.btn:hover{
    background-color: brown;
}
.input{
    background-color: rgb(117, 80, 151);
    flex: 1;
}
.table{
    height: 100px;
}
.likes-counter{
    display: flex;
    align-items: center;
    gap: 10px;
}
